
#navbar{
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(13, 13, 13);
  align-items: center;
}

#navbar>img{
  height: 99%;
}

.nav-items{
  display: flex;
  list-style: none;
  gap:3rem;
  padding-right: 12rem;
}


